<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <command
            id="pm.eclipse.shutdownbutton.Shutdown"
            name="Shutdown"
            categoryId="org.eclipse.debug.ui.category.run"
            defaultHandler="pm.eclipse.shutdownbutton.ShutdownCommandHandler">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="pm.eclipse.shutdownbutton.Shutdown"
            icon="icons/shutdown.png">
      </image>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.debug.ui.main.toolbar?after=threadGroup">
         <command
               commandId="pm.eclipse.shutdownbutton.Shutdown"
               style="push">
         </command>
      </menuContribution>
   </extension>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="pm.eclipse.shutdownbutton.preferences.PreferenceInitializer">
      </initializer>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            id="pm.eclipse.shutdownbutton.preferences"
            name="Shutdown Button"
            class="pm.eclipse.shutdownbutton.preferences.PreferencePage"
            category="org.eclipse.debug.ui.DebugPreferencePage">
      </page>
   </extension>

</plugin>
